.edit-profile-child-container {
  background-color: rgb(33, 30, 30);
  border-width: 2px;
  border-style: solid;
  /* border-radius: 30px; */
  border-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  row-gap: 8px;
  color: white;
  height: 100%;
}
