.upcoming-games-child-container {
  background: linear-gradient(
    135deg,
    rgba(50, 50, 50, 0.85),
    rgba(0, 0, 0, 0.7)
  );
  border: 2px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 20px;
  row-gap: 12px;
  color: #fff;
  overflow-y: auto;
  height: 100%;
  max-height: 500px; /* Optional: to prevent overflow */
  scrollbar-width: thin;
  scrollbar-color: lightgrey grey;
}

.upcoming-games-title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #01fd2bdf;
  text-shadow: 0 2px 6px rgba(10, 233, 47, 0.7);
}

.team-status {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 8px;
  padding: 8px 15px;
  width: fit-content;
  border: 1px solid rgba(10, 233, 47, 0.7);
  box-shadow: 0 0 8px rgba(10, 233, 47, 0.7);
  text-align: center;
}
