* {
  color: white;
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  /* background-color: black; */
  color: white;
  margin: 0;
}

.landing-page-container {
  background-color: #2e2d2d;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 20px;
  /* min-height: calc(100vh - 20); */
  box-sizing: border-box;
}

.features-container {
  display: flex;
  flex: 3;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.image-container {
  background-image: url("https://images.pexels.com/photos/17896212/pexels-photo-17896212/free-photo-of-soccer-match-seen-from-drone-shot.jpeg");
  width: 80%;
  aspect-ratio: 12/4; /* Maintains a 16:9 ratio */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* max-height: 500px; */
  margin: auto;
  /* margin-bottom: 1%; */
  margin-top: 1%;
  display: flex;
}

.quick-about-container {
  /* max-height: 50%; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  /* padding: 20px; */
  background-color: rgba(0, 0, 0, 0.8);
}

.quick-about-container p {
  line-height: 1.6;
  padding: 20px;
  font-size: larger;
  font-weight: 400;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.button {
  background-color: greenyellow;
  padding: 15px 20px;
  border-radius: 15px;
  color: black;
  font-weight: 600;
  font-size: large;
  margin-top: 10px;
}

.button:hover {
  background-color: rgb(5, 155, 12);
  cursor: pointer;
  /* color: black; */
}

.signup-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.features-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
  height: 100%;
  padding: 2%;
}

.feature-card {
  /* background-color: #2e2d2d; */
  background-color: rgb(27, 26, 26);
  border-radius: 5%;
  border-width: 1px;
  /* border-color: rgb(156, 154, 154); */
  border-color: greenyellow;
  border-style: solid;
  /* height: 350px; */
  padding: 2%;
  /* height: 100%; */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 10px;
  font-family: "Rubik", sans-serif;
}

.feature-card p {
  padding: 5%;
  font-weight: 300;
  font-size: large;
  line-height: 1.6;
  color: lightgray;
}

.feature-card h2 {
  font-size: x-large;
  font-weight: 400;
  /* color: greenyellow; */
}
